@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;

.post-form {

  &__title {
    @include font-section-header;
    margin-bottom: 0.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    @include font-body-copy;
    margin-top: 1rem;
  }

  &__input {
    font-family: inherit;
  }

  &__author {
    font-family: inherit;
  }

  &__text-area {
    font-family: inherit;
    resize: none;
  }

  &__button {
    background: none;
    background-color: rgb(11, 11, 85);
    margin: 1rem auto;
    color: white;
    border: none;
    width: 25rem;
    padding: 1rem 2rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 10px;
  }
}