@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;

.posts-list {

  &__title {
    @include font-section-header
  }

  &__post {
    border: 1px solid rgb(0, 132, 255);
    border-radius: 8px;
    margin-bottom: 2rem;
    padding: 1rem;

    background-color: rgb(240, 240, 240);
  }

  &__post-title {
    margin: 0;
    @include font-post-header;
  }

  &__content {
    @include font-body-copy;
  }

  &__author {
    @include font-timestamp;
  }

  &__button {
    background: none;
    color: black;
    border: none;
    font: inherit;
    @include font-body-copy;
    cursor: pointer;
    outline: inherit;
    border-radius: 10px;

    &:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    }
  }
}