@use './styles/fonts' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Sen', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}